{% extends 'TKUserManagerBundle::base.html.twig' %}

{% block extra_scripts %}
  {{ include('TKUserManagerBundle:User:_scripts_newshow.html.twig') }}
{% endblock %}

{% block content -%}
    <h1>User edit</h1>

    {{ include('TKUserManagerBundle:User:_user_form.html.twig') }}
    
    {# {{ form(delete_form) }} #}
    {{ form_start(delete_form) }}
    {{ form_row(delete_form.submit, {'attr': {'class': 'btn btn-danger btn-md delete'}}) }}
    {{ form_end(delete_form) }}

  <a href="{{ path('user') }}">
    Back to the list
  </a>
{% endblock %}
