{% extends 'TKUserManagerBundle::base.html.twig' %}


{% block content -%}
  <div class="row">
    <div class="col-md-6 index-title">
      <h1>Total users: {{ pagination.getTotalItemCount }}</h1>
      <a href="{{ path('user_new') }}" class="btn btn-success add-user">
        <span class="fa fa-user-plus fa-lg"></span> Add user
      </a>
    </div>
  </div>

  <div class="table-responsive">

    <table id="records_list" class="table table-bordred table-striped records_list">
      <thead>
        <tr>
          {% set direction = pagination.getDirection() %}
          <th {% if pagination.isSorted('user.id') %}class="sorted {{ direction }}"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Id', 'user.id') }}
          </th>
          <th {% if pagination.isSorted('user.firstName') %}class="sorted {{ direction }}"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'FirstName', 'user.firstName') }}
          </th>
          <th {% if pagination.isSorted('user.lastName') %}class="sorted {{ direction }}"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'LastName', 'user.lastName') }}
          </th>
          <th {% if pagination.isSorted('user.age') %}class="sorted {{ direction }}"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Age', 'user.age') }}
          </th>
          <th {% if pagination.isSorted('user.email') %}class="sorted {{ direction }}"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Email', 'user.email') }}
          </th>
          <th {% if pagination.isSorted('role.name') %}class="sorted {{ direction }}"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'UserRole', 'role.name') }}
          </th>
          <th {% if pagination.isSorted('user.createdAt') %}class="sorted {{ direction }}"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'CreatedAt', 'user.createdAt') }}
          </th>
          <th {% if pagination.isSorted('user.updatedAt') %}class="sorted {{ direction }}"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'UpdatedAt', 'user.updatedAt') }}
          </th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for user in pagination %}
        <tr>
          <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.userRole.getName }}</td>
          <td>{% if user.createdAt %}{{ user.getCreatedAt }}{% endif %}</td>
          <td>{% if user.updatedAt %}{{ user.getUpdatedAt }}{% endif %}</td>
          <td>
            <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          </td>
          <td>
              <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
          </td>
          <td>
            
            {{ form_start(deleteForms[loop.index-1]) }}
            {{ form_row(deleteForms[loop.index-1].submit, {'attr': {'class': 'btn btn-danger btn-xs delete'}}) }}
            {{ form_end(deleteForms[loop.index-1]) }}

          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  
  {# display navigation #}
  <div class="navigation text-center">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}