<header class="navbar navbar-default navbar-static-top">
  <div class="container">
  <!-- navbar -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
        <span class="sr-only">Open-navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="responsive-menu">

      <ul class="nav navbar-nav navigation navmenu">
        <li><a href="{{ path('home') }}">Home</a></li>
          
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <li><a href="{{ path('user') }}"><i class="fa fa-users"></i> Users list</a></li>
          {% endif %}
          
      </ul>
      <ul class="nav navbar-nav navbar-right navigation">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ app.user.email }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ path('user_show', { 'id': app.user.id }) }}">
                     <i class="fa fa-pencil"></i> Profile
                  </a>
                </li>

                <li class="divider" ></li>
                
                <li>
                  <a href="{{ path('logout') }}">
                    <i class="fa fa-sign-out"></i> Log out
                  </a>
                </li>
              </ul>
            </li>
        {% else %}
          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-sign-in"></i> Sign in / Sign up
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ path('_security_login') }}">Sign in</a>
              </li>

              <li class="divider" ></li>
              
              <li>
                <a href="{{ path('user_new') }}">Sign up</a>
              </li>
            </ul>

          </li>
        {% endif %}
          
        <!--  -->

        <!-- if user -->

        <!--  -->


      </ul>

    </div>

  </div>
</header>